/* PHASE 2: Navigation */

.header-logo {
  float: left;
  border-right: #ccc solid 1px;
  font-weight: 700;
}

.header-logo:hover {
  background: black;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
  border-left: #ccc solid 1px;
  font-weight: 400;
}

.header-list > li:hover {
  background: black;
}
