<!-- app/views/user_mailer/welcome_email.html.erb -->

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>RENT A CAT <%= @user.name %></h1>
    <p>
      IMA SPAM YO SHIT <%= @user.login %>.<br />
    </p>
    <p>
      START HERE: <%= @url %>.
    </p>
    <p>RENT OR LEAVE</p>
  </body>
</html>
